body { 
  background: url(../img/fijiblack.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.custom-heading {
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    color: #fff;
    letter-spacing: 10px;
    margin-top: 20%;
    padding: 20px;
    font-weight: 300;
}

.big-custom {
    font-size: 100px;
    color: #FFC93E;
}

.custom-cs {
    font-weight: 100;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center; 
    letter-spacing: 15px;
    color: #fff;
    padding: 20px;
}

.footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px;
}

.footer-text {
    
    text-align: center;
    margin: 0px;
    padding: 10px;
    font-size: 15px;
    letter-spacing: 10px;
    font-weight: 100; 
    color: #999;
}

.signup-link {
    text-decoration: none !important;
    color: #999;
}
.signup-link:hover {
    text-decoration: none !important;
    color: #FFC93E !important;
}



.custom-input {
    border-radius: 0px;
    border: none;
    -webkit-box-shadow: none !important
}

.modal-title-custom {
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

.custom-submit-btn {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 5px;
    background: #FFC93E;
    border: none;
}

.custom-submit-btn:hover{
    color: #FFC93E;
    background: #333;
}
.signup-Modal {
    margin-top: 30vh;
}

.custom-form {
    margin-bottom: 0px;
}

.custom-links {
        padding-right: 35px !important;
    padding-left: 35px !important;
}
